:root {
  --color-black: #171717;
  --color-white: #fcfcfc;
  --font-family-primary: "Poiret One", sans-serif;
  --font-family-secondary: "Open Sans", sans-serif;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("background-landscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  color: var(--color-black);
  height: 100%;
}

.gridContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem auto 2rem;
  align-content: center;
  max-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
}

@media (min-width: 375px) {
  .gridContainer {
    max-width: 375px;
  }
}

@media (min-width: 480px) {
  .gridContainer {
    max-width: 480px;
  }
}

@media (min-width: 640px) {
  .gridContainer {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .gridContainer {
    max-width: 768px;
  }
}

.contentContainer {
  grid-row: 2;
  background-color: var(--color-white);
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 0 1rem;
}

@media (min-width: 640px) {
  .contentContainer {
    padding: 1.5rem 2rem;
  }
}

.secondBorder {
  border-color: #b79c0f;
  border-style: double;
  padding: 1rem;
}

@media (min-width: 640px) {
  .secondBorder {
    padding: 1.5rem;
  }
}

.iframeContainer {
  height: 126px;
  width: 218px;
  margin: 0 auto 1rem;
}

@media (min-width: 375px) {
  .iframeContainer {
    width: 273px;
    height: 157px;
  }
}

@media (min-width: 480px) {
  .iframeContainer {
    width: 378px;
    height: 216px;
  }
}

@media (min-width: 640px) {
  .iframeContainer {
    width: 490px;
    height: 279px;
  }
}

@media (min-width: 720px) {
  .iframeContainer {
    width: 570px;
    height: 324px;
  }
}

.iframe {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.heading {
  text-align: center;
  font-size: 24px;
  line-height: 1.3;
  font-family: var(--font-family-primary);
  margin: 0 auto 1rem;
}

@media (min-width: 375px) {
  .heading {
    font-size: 32px;
  }
}

@media (min-width: 667px) {
  .heading {
    font-size: 48px;
  }
}

.subHeading {
  font-family: var(--font-family-secondary);
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin: 0 0 1.5rem;
}

@media (min-width: 768px) {
  .subHeading {
    font-size: 24px;
  }
}

.printText {
  font-family: var(--font-family-secondary);
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px dotted rgb(169 169 169);
}

@media (min-width: 768px) {
  .printText {
    font-size: 14px;
  }
}

.link {
  color: var(--color-black);
}

.bodyText {
  font-family: var(--font-family-secondary);
  font-size: 16px;
  line-height: 24px;
}
